@font-face{
	font-family: 'Roboto_bold', sans-serif;
	src: url(../../fonts/Roboto-Bold.ttf);
}
@font-face{
	font-family: 'Lato_regular', sans-serif;
	src: url(../../fonts/Lato-Regular.ttf);
}
@font-face{
	font-family: 'Lato_black', sans-serif;
	src: url(../../fonts/Lato-Black.ttf);
}
